<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ConfigMsisdnController">

  <div class="row">
    <div class="col-md-12">
      <div class="tabbable-line boxless tabbable-reversed">
        <div class="portlet box yellow-gold">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift"></i>MSISDN Settings
            </div>
          </div>
          <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label">Description :</label>
                      <div class="col-md-4">
                        <input type="text" class="form-control input-circle" ng-model="description"
                               placeholder="Enter The description">
                        <span class="help-block"> A block of help text. </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label">MSISDN : </label>
                      <div class="col-md-4">
                        <input type="text" class="form-control input-circle" ng-model="msisdn"
                               placeholder="Enter The MSISDN">
                        <span class="help-block"> Example: +33605XXXXXX </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group last">
                      <label class="col-md-3 control-label">Country : </label>
                      <div class="col-md-4">
                        <input type="text" class="form-control input-circle" ng-model="country"
                               placeholder="Enter the Country">
                        <span class="help-block"> Example: France</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-circle yellow-gold" ng-click="addMsisdn()">add</button>
                    <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- END FORM-->
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN SAMPLE TABLE PORTLET-->
      <div class="portlet box yellow-gold">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-bell-o"></i>MSISDN List
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable">
            <table class="table table-bordered table-striped table-condensed flip-content">
              <thead class="flip-content">
              <tr>
                <th>
                  <i class="fa fa-briefcase"></i> Description
                </th>
                <th>
                  <i class="fa fa-user"></i> MSISDN
                </th>
                <th>
                  <i class="fa fa-user"></i> Country
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat=" msisdn in msisdns">
                <td class="highlight">
                  <div class="warning"></div>
                  <a href="javascript:;"> {{msisdn.description}} </a>
                </td>
                <td class="hidden-xs">{{msisdn.msisdn}}</td>
                <td class="hidden-xs">{{msisdn.country}}</td>


                <td>
                  <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
                    <i class="fa fa-remove"></i> Remove </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END SAMPLE TABLE PORTLET-->
    </div>
  </div>

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
  Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
