<!-- BEGIN MAIN CONTENT -->
<div ng-controller="LoginController" class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="#/">
      <img src="{{settings.layoutPath}}/img/logo-default.png" alt="" /> </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" ng-submit="login()" method="post" name="loginForm">
      <h3 class="form-title font-yellow-gold">Sign In</h3>
      <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
      </div>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" ng-model="login_user.username" required/> </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="login_user.password" required /> </div>
      <div class="form-actions">
        <button type="submit" class="btn yellow-gold uppercase" ng-disabled="loginForm.$invalid" >Login</button>
        <label class="rememberme check mt-checkbox mt-checkbox-outline">
          <input type="checkbox" name="remember" value="1" />Remember
          <span></span>
        </label>
      </div>
    </form>
    <!-- END LOGIN FORM -->
  </div>
  <div class="copyright">  </div>

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
  Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
