<!-- BEGIN MAIN CONTENT -->
<div ng-controller="OidcController">
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class=" fa fa-shield font-yellow-gold"></i>
            <span class="caption-subject font-yellow-gold bold uppercase">Orange Partner / OIDC </span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="mt-element-step" ng-repeat="user in users">
            <div class="row step-line">
              <div class="mt-step-desc">
                <div class="font-dark bold uppercase">Identity Provider</div>
                <div class="font-green-jungle bold uppercase">{{user.iss}}</div>
                <div class="font-dark bold uppercase">User ID</div>
                <div class="font-green-jungle bold uppercase">{{user.sub}}</div>
                <div class="font-dark bold uppercase">Client ID</div>
                <div class="font-green-jungle bold uppercase">{{user.aud}}</div>
              </div>
              <div class="col-md-4 mt-step-col first done">
                <div class="mt-step-number bg-white">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Retrieve Authorization Code</div>
                <div class="mt-step-content font-grey-cascade">
                  <p>
                    <a class="btn btn-circle yellow-gold" data-toggle="modal" href="/oidc/#basic1">Details</a>
                  </p>
                  <div class="modal fade" id="basic1" tabindex="-1" role="basic1" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title font-dark bold">Authorization Details</h4>
                        </div>
                        <div class="modal-body">
                          <div id="blockui_sample_3_1_element1">
                            <div class="font-dark bold uppercase">Date Of Authorization</div>
                            <div class="font-green-jungle bold uppercase">{{user.auth_time*1000 | date:'yyyy/MM/ddHH:mm:ss Z'}}
                            </div>
                            <div class="font-dark bold uppercase">Scopes :</div>
                            <div class="font-green-jungle bold uppercase"> {{user.scope}}</div>
                            <div class="font-dark bold uppercase">Authorization code :</div>
                            <div class="font-green-jungle bold uppercase" style="word-wrap: break-word;">
                              {{user.auth_code}}
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->

                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-step-col done">
                <div class="mt-step-number bg-white">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Exchanging Auth Code by tokens</div>
                <div class="mt-step-content font-grey-cascade">
                  <p>
                    <a class="btn btn-circle yellow-gold" data-toggle="modal" href="/oidc/#basic2">Details</a>
                  </p>
                  <div class="modal fade" id="basic2" tabindex="-1" role="basic2" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title font-dark bold">Token Details</h4>
                        </div>
                        <div class="modal-body">
                          <div id="blockui_sample_3_1_element2">
                            <div class="font-dark bold uppercase">Creation Date:</div>
                            <div class="font-green-jungle bold uppercase">{{user.tokens[0].iat * 1000 | date:'yyyy/MM/dd HH:mm:ss Z'}}
                            </div>
                            <div class="font-dark bold uppercase">Access Token :</div>
                            <div class="font-green-jungle bold uppercase" style="word-wrap: break-word;">
                              {{user.tokens[0].access_token}}
                            </div>
                            <div class="font-dark bold uppercase">Expiration Date :</div>
                            <div class="font-green-jungle bold uppercase">{{user.tokens[0].exp * 1000 | date:'yyyy/MM/dd HH:mm:ss Z'}}</div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <div class="modal-footer">
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-step-col last">
                <div class="mt-step-number bg-white">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Call API Ressource</div>
                <div class="mt-step-content font-grey-cascade">
                  <p>
                    <a class="btn btn-circle yellow-gold" data-toggle="modal" href="/oidc/#basic3">Details</a>
                  </p>
                  <div class="modal fade" id="basic3" tabindex="-1" role="basic3" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title font-dark bold">Call API Details</h4>
                        </div>
                        <div class="modal-body">
                          <div id="blockui_sample_3_1_element3">

                          </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- END MAIN CONTENT -->
  <!-- BEGIN MAIN JS & CSS -->
  <script>
    Dashboard.init();
  </script>
  <!-- BEGIN MAIN JS & CSS -->
