<!-- BEGIN MAIN CONTENT -->
<div ng-controller="PerformanceController">

  <div class="row">
    <div class="col-md-12">
      <div class="portlet box yellow-gold ">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i> Settings </div>
        </div>
        <div class="portlet-body form">
          <form role="form" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <label class="col-md-3 control-label">Api Resource</label>
                <div class="col-md-9">
                  <select class="form-control" ng-model="selectedToken">
                    <option ng-repeat="token in tokens" value="{{token.id}}">{{token.resource}} -- {{token.exp * 1000 | date:'yyyy/MM/dd HH:mm:ss Z'}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Number of Times</label>
                <div class="col-md-9">
                  <input type="number" placeholder="Example: 10" ng-model="times" class="form-control"> </div>
              </div>
            </div>
            <div class="form-actions right1">

              <button class="btn yellow-gold" type="submit" ng-click="callResource()">Start</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="portlet box yellow-gold">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>API Response Result</div>
        </div>
        <div class="portlet-body flip-scroll">
          <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
            <tr>
              <th> Status</th>
              <th class="numeric"> Response Time </th>
              <th width="40%"> Result </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pfs in performResults">
              <td> {{pfs.status}} </td>
              <td> {{pfs.responseTime}} ms</td>
              <td class="numeric"> <json-formatter json="pfs.result" open="0"></json-formatter> </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box yellow-gold">
        <div class="portlet-title">
          <div class="caption">
            <i class=" icon-layers"></i>
            API CALL
          </div>
        </div>
        <div class="portlet-body">
          <canvas id="line" class="chart chart-line" chart-data="data_api"
                  chart-labels="labels_api" chart-series="series_api" chart-colours="colours"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet box yellow-gold">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>Table </div>
          <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-sm">
              <i class="fa fa-plus"></i> Add </a>
            <a href="javascript:;" class="btn btn-default btn-sm">
              <i class="fa fa-print"></i> Print </a>
          </div>
        </div>
        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
            <thead>
            <tr>
              <th class="table-checkbox">
                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                  <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                  <span></span>
                </label>
              </th>
              <th> UserID </th>
              <th> Email </th>
              <th> Status </th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeX">
              <td>
                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                  <input type="checkbox" class="checkboxes" value="1" />
                  <span></span>
                </label>
              </td>
              <td> shuxer </td>
              <td>
                <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
              </td>
              <td>
                <span class="label label-sm label-success"> Approved </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
  Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
